In [1]:
import pandas as pd
import numpy as np

In [2]:
hh_df = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')

##### Задание 2.1
Чему равна размерность таблицы? Введите её в виде кортежа (число строк, число столбцов).

In [3]:
hh_df.shape

(44744, 12)

#### Задание 2.2
В каком формате представлен порядок слов в признаке «Пол, возраст»?

In [4]:
hh_df.head(2)

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано

#### Задание 2.3

Какой тип данных имеют все столбцы? Введите его в поле для ответа.

In [5]:
hh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

#### Задание 2.4
Выберите все признаки, в которых есть пропуски в данных:

In [6]:
hh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

#### Задание 2.5
Сколько уникальных значений содержится в столбце «Опыт работы»?

In [7]:
hh_df.describe()[['Опыт работы','Ищет работу на должность:']]

,Опыт работы,Ищет работу на должность:
count,44576,44744
unique,44413,14929
top,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Системный администратор
freq,3,3099

#### Задание 3.1
Сколько соискателей имеет средний уровень образования (школьное образование)?

In [8]:
def get_education(row):
    
    edu_list = [] # лист для анализа категории
    edu_type = "" # результирующая категория
    edu_list = row.split()[0:2]
    if edu_list[0] == 'Высшее':
        return 'высшее'
    else: 
        return " ".join(edu_list)  
    
hh_df['Образование'] = hh_df['Образование и ВУЗ'].apply(get_education)
hh_df['Образование'].value_counts()

высшее                 33863
Среднее специальное     5765
Неоконченное высшее     4557
Среднее образование      559
Name: Образование, dtype: int64

#### Задание 3.2

Сколько процентов женских резюме представлено в наших данных? Ответ округлите до сотых.

In [9]:
hh_df['Пол']  = hh_df['Пол, возраст'].apply(lambda x: x[0])
hh_df['Возраст'] = hh_df['Пол, возраст'].apply(lambda x: int(x.split(',')[1].split()[0]))

hh_df['Пол'].value_counts(normalize=True)

М    0.809293
Ж    0.190707
Name: Пол, dtype: float64

Чему равен средний возраст соискателей? Ответ округлите до десятых.

In [10]:
hh_df['Возраст'].mean()

32.19674146254246

In [11]:
# hh_df['Опыт работы1'] = hh_df['Опыт работы'].apply(lambda x: x.split())